{% extends "base.html" %}
{% block content %}
<div id="data_display"></div><br>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript" src="{{ url_for('static', filename = '/js/app_func.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js" charset="utf-8"></script>

<script>

  namespace = '/cell.Automaton';
  var socket = io(namespace);

  var margin = {top: 30, right: 30, bottom: 30, left: 30},
    width = 900 - margin.left - margin.right,
    height = 900 - margin.top - margin.bottom;

  // append the canvas object to the body of the page
  // This is the general display area.
  var base = d3.select("#data_display");

  var chart = base.append("canvas")
                  .attr("width", width)
                  .attr("height", height);

  var context = chart.node().getContext("2d");

  // Create a custom DOM element that will hide in memory for d3 to
  // bind data to before the page actually generates it on the Canvas.
  // This process reduces the User/Client side element processing from
  // 4096 individual SVG elements to 1 Canvas element.
  var detachedContainer = document.createElement("custom");

  var dataContainer = d3.select(detachedContainer);

  // When the User socket connection is made, send flags to
  // 1) Start the appropriate server (from page's namespace)
  // 2) Start requsting density arrays from the server.
  socket.on('connect', function() {
     socket.emit('start_srv', {data : namespace})
     socket.emit('get_array', {data : 'density', name : namespace})
   });

   // When the page receives the density array (as bytes) from the
   // server, convert from bytes back into an array (1D).
   // Then, send the array of values to generate the next Canvas element
   // display frame.
   // Signal to get the next array.
   socket.on('ret_array', function(data){
     bytes = Uint8Array.from(data, c => c.charCodeAt(0))
     floats = new Float64Array(bytes.buffer)
     drawCustom(floats);
     socket.emit('get_array', {data : 'density'});
   });

</script>

{% endblock %}
